@media screen and (max-width: 1400px) {
   #profile{
      height: 83vh;
      margin-bottom: 6rem;
   }
   .about_containers{
      flex-wrap: wrap;
   }
   
}
@media screen and (max-width: 1200px) {
   #desktop_nav{
    display: none;
   } 

   #Hamburger_nav{
    display: flex;
   }
   #experience, 
   .experience_details_container{
      margin-top: 2rem;
   }

   #profile,
   .section-container{
      display: block;
   }
   .arrow{
      display: none;
   }
   section,
   .section-container{
      height: fit-content;
   }
   section{
      margin: 0.5%;
   }
   .section__pic__container{
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
   }
   
   .about_containers{
      margin-top: 0;
   }
}

@media screen and (max-width: 600px){
   #contact,
   footer{
      height: 40vh;
   }

   #profile{
      height: 83vh;
      margin-bottom: 0;
   }
   article{
      font-size: 1rem;

   }

   footer nav{
      height: fit-content;
      margin-bottom: 2rem;
   }
   .about_containers,
   .contact_info_uper_container, 
   .btn_container{
      flex-wrap: wrap;
   }
   .contact_info_container{
      margin: 0;
   }
   .contact_info_container p, 
   .nav_links li a{
      font-size: 1rem;

   }
   .experience_sub_title{
      font-size: 1.25rem;
   }
   .logo{
      font-size: 1.5rem;
   }
   .navlinks{
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
   }
   .section__pic__container{
      width: auto;
      height: 46vh;
      justify-content: center;

   }
   .section__text__p2{
      font-size: 1.25rem;
   }
   .title{
      font-size: 2rem;
   }
   .text_container{
      text-align: justify;
   }
}