*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "popins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* Transition */

a,
.btn{
    transition: all 300ms ease;
}

/* Desktop nav */

nav,
.navlinks{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.navlinks{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/* Hambuger Menu */
#Hamburger_nav{
    display: none;
}

.hamburger_menu{
    position: relative;
    display: inline-block;
}

.hamburger_icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger_icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.3 ease-in-out;
}

.menu_links{
    position: absolute;
    top: 100%;
    right: 0px;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: 0.3 ease-in-out;
}

.menu_links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: 0.3 ease-in-out;
}

.menu_links li{
    list-style: none;
}

.menu_links.open{
    max-height: 300px;
}

.hamburger_icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger_icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger_icon.open span:last-child{
    transform: rotate(-45deg) translate(0px, 0px);
}

.hamburger_icon span:first-child{
    transform: none;
}

.hamburger_icon span:first-child{
    opacity: 1;
}

.hamburger_icon span:first-child{
    transform: none;
}

/* SECTIONS */

section{ 
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic__container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
}

.section__pic__container img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.section__text{
    align-self: center;
    text-align: center;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    text-align: center;
    font-size: 1.5rem;

}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 2.5rem;
    text-align: center;
}

.socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    padding: 1rem;
    transition: all 300ms ease;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, 
.btn-color-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color-2:hover{
    cursor: pointer;
}
.btn-color-1, 
.btn-color-2:hover{
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
} 

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
    gap: 1rem;
}

/* ABOUT SECTION */

#about{
    position: relative;

}

.about_containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about_Details_container{
    justify-content: center;
    flex-direction: column;
}

.about_containers,
.about_Details_container{
    display: flex;
}

.about_pic{
    height: 300px;
    width: 300px;
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details_container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 1.5rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.section__pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience{
    position: relative;
}

.experience_sub_title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience_details_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article_container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* PROJECTS SECTION */

#projects{
    position: relative;
}

.color_container{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project_img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project_title{
    margin: 1rem;
    color: black;
}

.project_btn{
    color: black;
    border-color: rgb(163, 163, 163);

}

/* CONTACT SECTION */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact_info_uper_container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5 rem;
}

.contact_info_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact_info_container p{
    font-size: larger;
}

.contact_icon{
    cursor: default;
}

/* FOOTER SECTION */

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}